 <!-- About Section -->
    <section class="success" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CALL FOR PAPERS</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12">

                  <p>The workshop will consist of contributed posters, and invited talks on a wide variety of methods and problems in this area. We invite paper submissions in the following categories to present at the workshop:
                   </p></div>

             <div class="col-lg-12">
             <ul style="list-style-type:square;">
                 <li>Knowledge base completion using multiple modalities</li> 
                 <li>Using knowledge bases in NLP tasks</li>
                 <li>Vision and knowledge bases</li>
                 <li>Information extraction</li>
                 <li>Optimization challenges in multimodal scenarios</li>
                 <li>Benchmark datasets and evaluation methods</li>
              </ul>
              </div>
             
              <div class="col-lg-12">

                  <p>Submissions should be in the form of extended abstracts of no more than 1 page (not including references or supplementary materials).

                      All submissions must use the AKBC template. Submissions should be in .pdf format, and the review process is double-blind—therefore the papers should be appropriately anonymised. Previously published work (or under-review) is acceptable.

                     Accepted work will be presented as posters during the workshop and listed on this website.
                   
                     Submission Link:
               </p></div>
          
             
            </div>
        </div>
    </section>
