 <!-- About Section -->
    <section class="success" id="Organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organizers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Organizers:</p></div>
                <div class="row">

            </div>
        </div>
    </section>
